<div class="form-group row {{if item.isValid 'has-success' 'has-danger'}}">

    <label for="name" class="col-sm-2 col-form-label">Name</label>

    <div class="col-sm-10">
        {{input id="name" type="text" value=item.name class=(if item.isValid 'form-control form-control-success' 'form-control form-control-danger') placeholder="The name of the Library"}}
    </div>

</div>

<div class="form-group row">

    <label for="address" class="col-sm-2 col-form-label">Address</label>

    <div class="col-sm-10">
        {{input id="address" type="text" value=item.address class="form-control" placeholder="The address of the Library"}}
    </div>

</div>

<div class="form-group row">

    <label for="phone" class="col-sm-2 col-form-label">Phone</label>

    <div class="col-sm-10">
        {{input id="phone" type="text" value=item.phone class="form-control" placeholder="The phone number of the Library"}}
    </div>

</div>

<div class="form-group row">

    <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary" {{action 'buttonClicked' item}} disabled={{unless item.isValid true}}>{{buttonLabel}}</button>
    </div>

</div>